body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-image: url("../images/background8.jpg");
      background-size: cover;
      display: flex;
      justify-content: center;
      padding: 40px;
    }
    .portal-card {
      background: #fff;
      border-radius: 10px;
      padding: 30px;
      box-shadow: 0 3px 8px rgba(0,0,0,0.1);
      max-width: 900px;
      width: 100%;
    }

    h2 {
      color: #2c3e50;
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 25px;
    }
    th, td {
      padding: 12px;
      border: 1px solid #ddd;
      text-align: left;
    }
    th {
      background: #45a29e;
      color: white;
    }
    .portal-card-1 {
      flex: 1;
      background: white;
      padding: 15px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
     tr:hover {
      background: #f1f1f1;
    }
    .button {
      text-align: right;
      background: #45a29e;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.3s ease, opacity 0.3s ease;
    }
    .button:hover {
      background: #27ae60;
      opacity: 0.9;
    }
    .button:active {
      opacity: 0.6;
    }
