body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #f9f9f9;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #333;  
  line-height: 1.6;
}
h1, h2 {
  color: #45a29e;
}
.h2 {
  margin-top: 20px;
  color: #45a29e;
  text-align: center;
}
.section {
  margin-bottom: 25px;
}
.section ul {
  list-style-type: square;
  padding-left: 20px;
}
.section p code {
  color: #45a29e;
}
.footer {
  margin-top: 40px;
  padding: 15px;
  background: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
}
